**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.nav
**/*.out
**/*.run.xml
**/*.snm
**/*.synctex.gz
**/*.toc
**/*.lof
# private information
**/cover_figure.pdf
**/weekly-report*
**/weekly_report*
